/* Style pour le header */
header {
    background-color: rgb(30, 0, 255);
    color: white;
    padding: 10px;
  }

/* Style pour le footer */
footer {
    background-color: rgb(217, 255, 0);
    color: rgb(18, 17, 17);
    padding: 10px;
  }

  .image-container {
    text-align: center;
  }
  
  .image-wrapper {
    display: inline-block;
    margin: 10px;
  }
  
  .clear {
    clear: both;
  }
  
img {
  display: inline-block;
}

.image-row {
  display: inline-block;
}