.contentAccueil {
    display: flex;
    flex-direction: row;
}

.presentation {
    padding: 4% 2% 2% 4%;
    width: 50%;
    font-size: 15px;
    max-width: 50%;
    font-family: 'Montserrat', sans-serif;
}

.lastRecipeAccueil {
    position: relative;
    max-width: 50%;
    padding-top: 4%;
    margin-left: 1%;
    margin: auto;
    text-align: center;
}

.linkAccueil {
    line-height: 50px;
    text-align: center;
    margin: 1% auto 4% auto;
    padding: 3%;
}

.linkAccueil a {
    font-weight: bold;
}

.linkAccueil .btn {
    padding: 10px 25px;
}

/***********************************************************************
                            MEDIA QUERY téléphone
************************************************************************/
@media screen and (max-width:768px) {

    .contentAccueil {
        flex-direction: column;
    }

    .presentation {
        font-size: 13px;
        min-width: 100%;
    }

    .lastRecipeAccueil {
        min-width: 100%;
        padding: 5% 0 5% 0;
    }
}