/* Styles pour les étoiles */
.star-rating {
    display: inline-block;
    font-size: 16px;
}

.star-rating i {
    color: #f1c40f;
    /* Couleur jaune */
}

.star-rating i:hover {
    color: #e67e22;
    /* Couleur jaune foncé au survol */
}