.linkUtilisateur {
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin: auto;
    padding: 4% 0 4% 0;
}

.tableTitle {
    padding: 3%;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.containerImg {
    max-width: 15%;
    margin: 3% 10% 2% 15%;
}

.table table-hover {
    text-align: center;
}

.tableUsers {
    margin: 1% auto 4% auto;
    max-width: 70%;
}

/***********************************************************************
                            MEDIA QUERY 1 pour tablettes
************************************************************************/
@media screen and (min-width:769px) and (max-width:1024px) {

    .tableUsers {
        max-width: 100%;
        font-size: 15px;
    }

}

#spanCountRecipes {
    color: red;
    font-size: 13px;
    font-weight: bold;
    vertical-align: top;
}

.table-container {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

thead {
    background-color: #8f8f8f;
    color: white;
}

.titleTab {
    margin-top: 30px;
}

/***********************************************************************
                            MEDIA QUERY téléphone
************************************************************************/
@media screen and (max-width:735px) {

    .linkUtilisateur {
        min-width: 100%;
        min-height: 250px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10% 10%;
    }

    .tableTitle {
        font-size: 18px;
        margin-bottom: 5%;
    }

    .containerImg {
        max-width: 50%;
        margin: 5% 0 3% 1%;
    }

    .tableUsers {
        max-width: 100%;
        font-size: 12px;
    }

}