#imageuser {
  position: absolute;
  width: 22px;

  left: 90%;
  top: 22%;
}

.nav-link {
  font-size: 22px !important;
}

#logo {
  margin-top: -40px;
  width: 70vh;
  max-width: 100%;
}

#navbar {
  margin-top: -40px;

}

.fa-home {
  color: #ef4d3e9e;
}