#imageuser {
  position: absolute;
  width: 22px;

  left: 90%;
  top: 20%;
}

.logo-width {
  width: 75%;
  max-width: 100%;
  margin-right: auto;
}

#logo {
  margin-top: -40px;
}

#navbar {
  margin-top: -40px;

}