#RecetteTitle{
    text-align: center;
    margin: 2%;
}
#titleh2{
    float: left;
}
#StarRating{
    position: relative;
    float:right;
    padding-right: 30%;
    padding-top: 2%;
    margin: 1%;
    padding-left: 25%;
}

#Continent{
    position: relative;
    float: right;
    padding-left: 30%;
}

#Pays{
    position: relative;
    float:right;
    padding-left: 30%;
}
#blocktext1 {
    position: relative;
    margin-right: 2%;
    margin: 1%;
    padding: 0.5%;
    float: left;
    border-radius: 3%;
    border-style: ridge;
    margin-top: 1%;
    margin-bottom: 3%;
    background-color: rgb(242, 242, 242);
}

#title1 {
    position: relative;
    margin: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    float: left;
    
}

#blocktext2 {
    position: relative;
    text-align: left justify;
    width: 60%;
    margin-right: 5%;
    padding: 0.5%;
    border-radius: 3%;
    border-style: ridge;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(242, 242, 242);
}

#title2 {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
}

#blocktext3 {
    position: relative;
    text-align: left justify;
    width: 60%;
    padding: 0.5%;
    border-radius: 3%;
    border-style: ridge;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(242, 242, 242);
}

#title3 {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
}

#blocktext4 {
    position: relative;
    padding: 0.5%;
    text-align: left justify;
    width: 60%;
    border-radius: 3%;
    border-style: ridge;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(242, 242, 242);
}

#title4 {
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
}

#img1 {
    position: relative;
    width: 30%;
    border-style: double;
    margin: 1%;
    margin-left: 2%;
    
    float: right;
    
}

#img2 {
    position: relative;
    width: 50px;
    border-style: groove;
}

#ListI {
    position: relative;
    border-style: groove;
    width: 25%;
    
    text-align: center;
    border-radius: 3%;
    background-color: rgb(242, 242, 242);
}

#title5 {
    position: relative;
    margin: 2%;
    float: right;
}

footer {
    margin-top: 10%;

}

#text1 {
    text-align: center;

}
#linkpdf{
    position: relative;
    margin: 1%;

}

.modal-body .icons a {
    text-decoration: none;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
}

.modal-body .icons a:nth-child(1) {
    color: #1877F2;
    border-color: #B7D4FB;
}

.modal-body .icons a:nth-child(1):hover {
    background-color: #1877F2;
    color: #fff;
}

/* .modal-body .icons a:nth-child(2) {
    color: #46C1F6;
    border-color: #b6e7fc;
}

.modal-body .icons a:nth-child(2):hover {
    background-color: #46C1F6;
    color: #fff;
} */
.modal-body .icons a:nth-child(2) {
    color: #e1306c;
    border-color: #f5bccf;
}

.modal-body .icons a:nth-child(2):hover {
    background-color: #e1306c;
    color: #fff;
}

.modal-body .icons a:nth-child(3) {
    color: #0f0f0f;
    border-color: #070707;
}

.modal-body .icons a:nth-child(3):hover {
    background-color: #1c1d1c;
    color: #fff;
}

.modal-body .icons a:hover {
    border-color: transparent;
}

.modal-body .icons a span {
    transition: all 0.09s ease-in-out;
}

.modal-body .icons a:hover span {
    transform: scaleX(1.1);
}

.field span {
    width: 50px;
    font-size: 1.1rem;
}

.address-form {
    display: none;
}

@media (max-width: 330px) {
    .modal-body .icons a {
        margin-right: 15px;
        width: 35px;
        height: 35px;
    }
}

.rating-star.filled,
.rating-star:hover,
.star.filled,
.half-filled {
    color: #ffba00;
    display: inline-block;
    cursor: pointer;

}

#facebook {
    width: 20px;
}