#pageContinent {
  padding-top: 30px;

}

#decoration {
  padding-top: 70px;

}

#infoImage {
  padding-top: 20px;
}

#presentation {
  margin-left: 10%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.titreVoyageur {
  color: #ef4d3e9e;
  font-weight: bold;
}

.link-no-style {
  color: #050505;
}

footer {
  margin-top: 5%;
}

.rating-star.filled,
.rating-star:hover,
.star.filled,
.half-filled {
  color: #ffba00;
  display: inline-block;
}

.custom-title {
  word-wrap: break-word;

}